<form>
    <label for="#userName">Username</label>
    <input id="userNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="signUpBtn">Login</button>
</form>